# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
A1/pastry/logs/*
A1/chord/logs/*
A1/python_scripts/env/
A1/python_scripts/graphs/*
A2/main
A2/main_ppt
A2/env/*
A2/out/
A2/inps/
A2/logs/
